.container {
	text-align: center;
}

#nav {
	text-align: center;
}


.cell {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: 0px;
	border:1px solid black;
	vertical-align: top;
}

.highlight {
	background-color: gray;
}

.row {
	margin:0px;
}

button {
	margin-top: 25px;
	margin-bottom: 50px;
	margin-right: 10px;
	margin-left: 10px;
}